body{
    margin:0;
}
header{
    /*width: 100%;*/
    height: 0px auto;
    background: #fc7978;
    padding:35px;
    
}
.pageheader{
    color: white;
    text-decoration: none;
    font-size:30px; 
    
    

}

nav{
    float:right;
    color: white;
    
}
nav ul{
    margin:0;
    padding: 0;
    display: flex;
    
}
nav ul li{
    list-style: none;
}
nav ul li a{
    display: block;
    margin: 0px 0;
    padding: 0px 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    

}


#map {
    height: 100%;
  }


  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }