.Section {
  width: 45% !important;
}

.section-name {
  text-align: center !important;
  font-weight: bolder !important;
  text-transform: uppercase !important;
}

.section-btn {
  width: 150px !important;
  box-shadow: 0 5px 5px grey !important;
}

.section-lists {
  margin-top: 40px !important;
  background-color: #697ad666 !important;
  height: 80% !important;
}