/* Navigation */
.main-nav {
  display: flex;
  justify-content: space-between;
  background-color: #0847a6;
  color: #fff;
}

.left-nav,
.right-nav {
  display: flex;
  width: 50%;
  justify-content: space-around;
  list-style-type: none;
}

.left-nav a,
.right-nav a {
  text-decoration: none;
  color: #fff;
}

.left-nav {
  justify-content: flex-start;
}

/* Tasks */

/* Goals */
.card-container {
  width: 250px;
  border: 1px solid;
  padding: 0 1rem 1rem;
}

.status-container {
  display: flex;
  justify-content: space-between;
}

/* Edit Pages */

/* Login/Register */

.login-register-form {
  width: 400px;
  border: 1px solid black;
  margin: 5rem auto;
  
}

.inputs-container {
  display: flex;
  flex-direction: column;
  padding: 3rem 0.5rem;
  
}

.inner-input-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}


/* Board */
.board-column-container{
  display: flex;
  width: 80%;
  margin: 2rem auto;
  align-items: center;
  justify-content: space-between;
}

.board-column-item{
  width: 20%;
  height: 400px;
 
}

.board-column-inner-item{
  border: 1px solid black;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.column-title{
  text-align: center;
}

/* View Goal */
.overlay{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal{
  z-index: 500;
  width: 70%;
  height: 40vh;
  background-color: white;

}

.closeModal{
  z-index: 501;
  color: #fff;
  font-size: 2rem;
  top: 0;
  right: 0;
}

.view-goal{
  z-index: 1000;
  width: 70%;
  height: 50vh;
  background-color: white;
  overflow: scroll;
}