*{
  box-sizing: border-box;
}

/* Navigation */
.main-nav {
  display: flex;
  justify-content: space-between;
  background-color: #0847a6;
  color: #fff;
}

.left-nav,
.right-nav {
  display: flex;
  width: 50%;
  justify-content: space-around;
  list-style-type: none;
}

.left-nav a,
.right-nav a {
  text-decoration: none;
  color: #fff;
}

.left-nav {
  justify-content: flex-start;
}

/* Tasks */

/* Goals */
.card-container {
  width: 250px;
  border: 1px solid;
  padding: 0 1rem 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
}

.status-container {
  display: flex;
  justify-content: space-between;
}

.goal-lister-container{
  width: 80%;
  margin: auto;
}

.goal-lister-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-goal-btn{
  background-color: #0847a6;
  color: #fff;
  font-weight: 600;
  padding: 0.3rem;
  font-size: 1rem;
  border-style: none;
  border-radius: 0.1rem;
  cursor: pointer;
}

.goals-gird-container{
  display: flex;
  flex-wrap: wrap;
}

.goal-lister-input-container{
  margin-bottom: 2rem;
}


/* Edit Pages */

/* Login/Register */

.login-register-form {
  width: 400px;
  border: 1px solid black;
  margin: 5rem auto;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  padding: 3rem 0.5rem;
}

.inner-input-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

/* Board */
.board-column-container {
  display: flex;
  width: 80%;
  margin: 2rem auto;
  align-items: center;
  justify-content: space-between;
}

.board-column-item {
  width: 20%;
  height: 400px;
}

.board-column-inner-item {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.column-title {
  text-align: center;
}

/* View Goal */
.overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  z-index: 500;
  width: 60%;
  height: 50vh;
  background-color: white;
  overflow: scroll;
}

.closeModal {
  z-index: 501;
  color: #fff;
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10rem;
  margin-top: 8rem;
  cursor: pointer;
}

.view-goal {
  z-index: 1000;
  width: 70%;
  height: 50vh;
  background-color: white;
  overflow: scroll;
}

.edit-goal-container {
  background-color: #fff;
  color: black;
  width: 100%;
  overflow: scroll;
}

.textarea{
  width: 400px;
  height: 80px;
}

.input-view{
  width: 400px;
  padding: 0.3rem 0.1rem;
  outline: none;
  font-size: 0.5rem;
}

/* Board */
.in-progress {
  background-color: #1070ca;
  color: #fff;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
}

.on-hold {
  background-color: #bf0e08;
  color: #fff;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
}

.no-started {
  background-color: #425a70;
  margin-bottom: 0.5rem;
  color: #fff;
  padding: 0.2rem;
}

.done {
  background-color: #00783e;
  margin-bottom: 0.5rem;
  color: #fff;
  padding: 0.2rem 0.3rem;
}

.board-column-inner-item {
  padding: 0.3rem;
  background-color: #f9f9fb;
}

.dgg-card-container {
  border: 1px solid black;
  margin-bottom: 0.5rem;
  padding-left: 0.2rem;
  cursor: -webkit-grab;
  cursor: grab;
  border-radius: 0.5rem;
  background-color: #e4e7eb;
}

.create-goal-container, .view-goal{
  padding:1rem;
}

/* .create-goal-container-inner{
  width: 60%;
  margin: auto;
} */


/* Utils */
.header{
  margin-left: 8rem;
}

.btn{
  font-size: 1rem;
  border-style: none;
  border-radius: 0.2rem;
  cursor: pointer;
}

.blue{
  background-color: #0847a6;
  color: #fff;
}

.input-view{
  font-size: 0.8rem;
}