* {
  box-sizing: border-box;
}

/* Home */
.home-welcome-section {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
  background-color: #f7f9fd;
}

.home-text-container {
  padding: 3rem;
  margin-top: 3rem;
}

.welcome-text {
  font-size: 1.5rem;
}

.home-btn {
  padding: 0.5rem;
  text-decoration: none;
}

.home-img-container {
  width: 70%;
}

.home-img-container img {
  width: 100%;
}

/* About */
.about-container {
  padding: 3rem 7rem;
}

.section-title {
  font-size: 1.5rem;
  text-align: center;
}

.about-steps {
  font-size: 1.1rem;
  padding: 1rem;
  list-style: none;
}

.about-steps li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #0847a6; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.about-steps li {
  margin-bottom: 0.8rem;
}

/* Mission */

.mission-container {
  padding: 7rem;
  font-size: 1.1rem;
  background-color: #1070ca;
  color: #fff;
}

.footer {
  background-color: #0847a6;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 0.3rem;
}

.mission-title {
  text-align: center;
}

.mission-text {
  line-height: 1.9rem;
  text-align: center;
}

.main-wrapper {
  margin-top: 5rem;
}

/* Navigation */
.main-nav {
  display: flex;
  justify-content: space-between;
  background-color: #0847a6;
  position: fixed;
  top: 0;
  color: #fff;
  width: 100%;
}

.left-nav,
.right-nav {
  display: flex;
  width: 50%;
  list-style-type: none;
}

.right-nav {
  justify-content: flex-end;
  padding-right: 2rem;
}

.left-nav a,
.right-nav a {
  text-decoration: none;
  color: #fff;
}

.right-nav * {
  margin-right: 1rem;
}

.left-nav {
  justify-content: flex-start;
}

/* Tasks */

/* Goals */
.card-container {
  width: 250px;
  border: 1px solid;
  padding: 0 1rem 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
}

.status-container {
  display: flex;
  justify-content: space-between;
}

.goal-lister-container {
  width: 80%;
  margin: auto;
}

.goal-lister-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-goal-btn {
  background-color: #0847a6;
  color: #fff;
  font-weight: 600;
  padding: 0.3rem;
  font-size: 1rem;
  border-style: none;
  border-radius: 0.1rem;
  cursor: pointer;
}

.goals-gird-container {
  display: flex;
  flex-wrap: wrap;
}

.goal-lister-input-container {
  margin-bottom: 2rem;
}

/* Edit Pages */

/* Login/Register */

.login-register-form {
  width: 400px;
  border: 1px solid black;
  box-shadow: 0 8px 6px -6px black;
  margin: 9rem auto;
  border-radius: 0.5rem;
}

.form-btn {
  width: 100%;
  padding: 0.3rem 0;
}

.form-action-btn-container {
  margin-top: 1rem;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  padding: 3rem 0.5rem;
  width: 80%;
  margin: auto;
}

.form-header {
  text-align: center;
  color: #0847a6;
}

.inner-input-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

/* Board */
.board-column-container {
  display: flex;
  width: 80%;
  margin: 2rem auto;
  align-items: center;
  justify-content: space-between;
}

.board-column-item {
  width: 20%;
  height: 400px;
}

.board-column-inner-item {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.column-title {
  text-align: center;
}

/* View Goal */
.overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-goal-header {
  display: flex;
  justify-content: space-between;
}

.modal {
  z-index: 500;
  width: 60%;
  height: 50vh;
  background-color: white;
  overflow: scroll;
}

.closeModal {
  z-index: 501;
  color: #fff;
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10rem;
  margin-top: 8rem;
  cursor: pointer;
}

.view-goal {
  z-index: 1000;
  width: 70%;
  height: 50vh;
  background-color: white;
  overflow: scroll;
}

.edit-goal-container {
  background-color: #fff;
  color: black;
  width: 100%;
  overflow: scroll;
}

.textarea {
  width: 400px;
  height: 80px;
}

.input-view {
  width: 400px;
  padding: 0.3rem 0.1rem;
  outline: none;
  font-size: 0.5rem;
}

/* Board */
.in-progress {
  background-color: #1070ca;
  color: #fff;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
}

.on-hold {
  background-color: #bf0e08;
  color: #fff;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
}

.no-started {
  background-color: #425a70;
  margin-bottom: 0.5rem;
  color: #fff;
  padding: 0.2rem;
}

.done {
  background-color: #00783e;
  margin-bottom: 0.5rem;
  color: #fff;
  padding: 0.2rem 0.3rem;
}

.board-column-inner-item {
  padding: 0.3rem;
  background-color: #f9f9fb;
}

.dgg-card-container {
  border: 1px solid black;
  margin-bottom: 0.5rem;
  padding-left: 0.2rem;
  cursor: -webkit-grab;
  cursor: grab;
  border-radius: 0.5rem;
  background-color: #e4e7eb;
}

.create-goal-container,
.view-goal,
.edit-goal-container,
.create-task-container {
  padding: 1rem;
}

/* Utils */
.header {
  margin-left: 8rem;
}

.btn {
  font-size: 1rem;
  border-style: none;
  border-radius: 0.2rem;
  cursor: pointer;
}

.blue {
  background-color: #0847a6;
  color: #fff;
}

.red {
  background-color: #bf0e08;
  color: #fff;
}

.green {
  background-color: #00783e;
  color: #fff;
}

.input-view {
  font-size: 0.8rem;
}

.m-r {
  margin-right: 1rem;
}

.m-b {
  margin-bottom: 1rem;
}
