* {
  padding: 0;
  margin: 0;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  color: #000;
  height: 3.5rem;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1.2rem;
}

.nav-left-ul,
.nav-right-ul {
  list-style-type: none;
  display: flex;
}

.nav-right-ul li {
  margin-right: 0.625rem;
}

.input-container{
    text-align: center;
    margin-top: 3rem;
}

.main-header{
    margin-bottom: 2.5rem;
}

.hex-input{
    width: 25rem;
    padding: 0.5rem;
    display: block;
    margin: 0 auto 2.5rem;
}

.hex-submit{
    padding: 0.5rem;
    width: 10rem;
    cursor: pointer;
}
