body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: arial;
  text-align: center;
  min-height: 100vh;
  min-width: 370px;
  background-image: linear-gradient(135deg, #00ccff,#9933ff 31%, #fff9aa 77%, #00ff99, #00ccff);
}

.app {
  margin: 3em auto;
  width: 90%;
}

input {
  display: block;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  width: 40%;
}

button{
  margin-top: 10px;
  display: block;
  width: 20%;
  margin: 0 auto;
  text-align: center;
}