.App {
  text-align: center;
}


.myheader {

    background-color: #0277bd;
    font-size: 20px;
    width: 100%;
    left:0;
    position: fixed;
    top: 0;
    padding:10px;
    padding-left: 20px;
    padding-bottom: 30px;
 
}

.wholepage {
  margin-top: 9em;
  background-color: white;
  color: white;

/*  min-height: 100vh;*/
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
  margin-right:4em;

}

 

#myform{
  width: 20%;
  padding: 8px;

}



.App-link {
  color: #61dafb;
}
