.App {
  text-align: center;
}

body{
  background-color: #010038;
  width: fit-content;

}

.myheader {

    background-color: #293a80;
    font-size: 20px;
    width: 100%;
    left:0;
    position: fixed;
    top: 0;
    padding:10px;
    padding-left: 20px;
    padding-bottom: 30px;
    background-position: top;
    
 
}

.wholepage {
  margin-top: 9em;
  background-color: #010038;
  color: white;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
  margin-right:4em;

}

.fonts{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
 input{
   padding: 15px;
   width: 30%;
   border-top-left-radius: 9px;
   border-bottom-left-radius: 9px;
 }

#myform{
  width: 20%;
  padding: 8px;
  
}

button{
  padding:13px;
  padding-bottom: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 900;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  color: white;
  background-color: #3e46b5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(225, 235, 190, 0.906);
}

.mysearchinput{
  
}
.gifdisplay{
  width: 50%;
  padding: 80px;
  margin-top: 90px;
  margin-left:20%;
  background-color: rgb(2, 2, 2);

}

img{
  width: 200px;
  align-items: center;
}

.App-link {
  color: #61dafb;
}
