body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: arial;
  text-align: center;
  min-height: 100vh;
  min-width: 370px;
  background-image: linear-gradient(135deg, #00ccff,#9933ff 31%, #fff9aa 77%, #00ff99, #00ccff);
}

.app {
  margin: 3em auto;
  width: 90%;
}

input {
  display: block;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  width: 40%;
}

button{
  margin-top: 10px;
  display: block;
  width: 20%;
  margin: 0 auto;
  text-align: center;
}

.gif-result-display {
  box-shadow: 2px 2px 4px 0 #ccc;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 0 1.5em;
  padding: 1em;
  width: 100%;
}

.gif-result-display img {
  width: 100%;
}

.gif-list {
  column-gap: 1.5em;
  font-size: .85em;
  margin: 1.5em 0;
  padding: 0;
}